/*  @include sm_phone{
    background: green;
    }

    @include lg_phone{
    background: red;
    }


    @include tablet{
    background: pink;
    }

    @include desktop{
    background: blue;
    }

    @include lg_desktop{
    background: orange;
    }*/
.navbar {
  width: 100%;
  text-align: center; }
  .navbar p {
    text-transform: uppercase;
    padding-top: 1.25%; }

.index_text {
  margin-top: 100px; }

h1.index_main {
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: black;
  background-color: lightseagreen;
  padding: 1% 2% 0.5% 2%;
  display: inline-block;
  border: 1px solid lightseagreen;
  font-weight: 600;
  font-size: 3.5em; }

.index_text2 {
  margin-top: 30px; }

h1.index_sub {
  font-family: 'Raleway', sans-serif;
  color: lightseagreen;
  background-color: black;
  padding: 1% 2% 1% 2%;
  display: inline-block;
  border: 1px solid lightseagreen;
  font-weight: 300;
  font-size: 1.6em; }

.mrg {
  margin-right: 0.5%; }

.body_copy {
  margin-top: 40px;
  color: #ccc;
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.6em;
  text-align: left; }
  .body_copy p {
    letter-spacing: 0.02em;
    margin-top: 20px; }
  .body_copy a {
    color: lightseagreen;
    font-weight: 700;
    text-decoration: none; }
  .body_copy a:hover {
    color: #ccc; }

.animation {
  margin: 30px auto; }
  .animation img {
    border: 2px solid lightseagreen; }
  .animation h3 {
    color: lightseagreen;
    padding-bottom: 10px;
    font-size: 1.5em; }

.links {
  margin: 80px auto 120px auto; }
  .links a {
    text-transform: uppercase;
    width: 225px;
    display: inline-block;
    font-size: 0.9em;
    border-bottom: 1px solid lightseagreen;
    padding: 4px 0px;
    font-weight: 300;
    color: lightseagreen;
    transition: all 0.3s ease-in;
    text-decoration: none;
    margin: 0px 20px 20px 20px; }
  .links a:hover {
    border-bottom: 1px solid #ccc;
    color: #ccc; }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1; }

body {
  background-color: #000000;
  font-family: 'Raleway', sans-serif; }

.container {
  text-align: center; }

.navbar {
  z-index: 500; }

.navbar-default {
  background: lightseagreen;
  border-bottom: 2px solid #000; }

.navbar-default .navbar-nav > li > a {
  color: #000; }

.navbar-default .navbar-brand {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1em; }

.navbar-default .navbar-nav > li > a:hover {
  color: #fff; }

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: white; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
  color: #000; }

.line {
  display: block;
  border: 1px solid lightseagreen;
  margin: 0 20%; }

.navbar-header a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-top: 4px;
  margin-top: 17px;
  color: black;
  transition: all 0.3s ease-in; }

.navbar-header a:hover {
  color: #fff; }

.intro_group {
  margin-top: 70px; }
  .intro_group p {
    color: #fff;
    font-weight: 300;
    font-size: 1.3em;
    text-align: left;
    line-height: 1.5em;
    letter-spacing: 0.04em; }

.btn {
  background-color: lightseagreen;
  color: #000;
  border: palegoldenrod;
  padding: 0.5%;
  font-size: 1.1em;
  width: 100px;
  margin-right: 30px;
  margin-top: 0.5%; }

.btn:hover {
  background-color: #000;
  color: lightseagreen;
  border: 1px solid lightseagreen; }

.btn:outline {
  outline: none;
  border: 1px solid lightseagreen; }

.btn:focus {
  outline: none;
  border: 1px solid lightseagreen; }

.btn:visited {
  outline: none;
  border: 1px solid lightseagreen; }

.header-section {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  margin-top: 30px; }

h1 {
  color: palegoldenrod;
  font-size: 3em;
  font-weight: 300;
  letter-spacing: 0.02em;
  margin: 0;
  font-family: 'Lobster', cursive;
  text-align: center;
  padding-bottom: 5px; }
  h1 span {
    color: #888;
    font-weight: normal;
    font-family: 'Lobster', cursive;
    font-size: 1em;
    margin: 0;
    text-align: center;
    padding: 0; }

.skills {
  margin-bottom: 20px; }

li.software {
  margin-bottom: 10px;
  padding: 7px 0px; }

li {
  list-style-type: none; }

#html {
  background-color: antiquewhite; }

#css {
  background-color: darksalmon; }

#js {
  background-color: darkseagreen; }

#responsive {
  background-color: deepskyblue; }

#cross {
  background-color: gainsboro; }

#git {
  background-color: lightgoldenrodyellow; }

#node {
  background-color: lavender; }

#bootstrap {
  background-color: mediumturquoise; }

#animation {
  background-color: lightpink; }

#wordpress {
  background-color: tan; }

.desk {
  position: relative; }

.computer {
  position: absolute;
  top: -5%;
  left: -5%; }

.worker {
  position: absolute;
  bottom: -22.5%;
  left: 35%;
  z-index: 100; }

.floor {
  position: absolute;
  bottom: -20%;
  left: 0;
  z-index: -100; }

.pad {
  position: absolute;
  top: 2%;
  right: 2%; }

.calculator {
  position: absolute;
  top: 6%;
  left: 57%; }

.keyboard {
  position: absolute;
  bottom: -3%;
  left: 2%; }

.ipad {
  position: absolute;
  bottom: -3%;
  left: 65%; }

.coffee {
  position: absolute;
  top: 8%;
  left: 70%; }

.mouse {
  position: absolute;
  bottom: 3%;
  left: 28%; }

.iphone {
  position: absolute;
  top: 2%;
  left: 34%; }

.notepad {
  position: absolute;
  bottom: 7%;
  left: 40%; }

.glasses {
  position: absolute;
  bottom: 35%;
  left: 80%; }

.magnify {
  position: absolute;
  bottom: 10%;
  left: 90%; }

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 440px;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 500; }
  @media only screen and (min-width: 769px) and (max-width: 992px) {
    .bg {
      height: 290px; } }
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .bg {
      height: 280px; } }
  @media only screen and (max-width: 480px) {
    .bg {
      height: 240px; } }

.closing-text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  text-align: center;
  width: 100%;
  padding-top: 100px; }
  @media only screen and (min-width: 769px) and (max-width: 992px) {
    .closing-text {
      padding-top: 10px;
      padding-left: 5%;
      padding-right: 5%; } }
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .closing-text {
      padding-top: 10px;
      padding-left: 15%;
      padding-right: 15%; } }
  @media only screen and (max-width: 480px) {
    .closing-text {
      padding-top: 10px;
      padding-left: 15%;
      padding-right: 15%; } }

.closing-text h3 {
  font-size: 2.5em;
  padding-bottom: 30px;
  line-height: 1.2em;
  color: #424755; }
  @media only screen and (min-width: 769px) and (max-width: 992px) {
    .closing-text h3 {
      font-size: 2em; } }
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .closing-text h3 {
      font-size: 1.7em; } }
  @media only screen and (max-width: 480px) {
    .closing-text h3 {
      font-size: 1.4em; } }

.closing-text h4 {
  font-size: 2em;
  color: peru; }
  @media only screen and (min-width: 769px) and (max-width: 992px) {
    .closing-text h4 {
      font-size: 1.8em; } }
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .closing-text h4 {
      font-size: 1.4em; } }
  @media only screen and (max-width: 480px) {
    .closing-text h4 {
      font-size: 1.2em; } }

.wrapper {
  width: 100%;
  background-color: #000000;
  z-index: 10; }

.container1 {
  overflow: hidden;
  max-width: 1200px;
  margin: 15px auto 20px auto;
  padding: 0;
  z-index: 1000; }

.dayNight_master {
  margin-top: 0px;
  position: relative;
  z-index: 100;
  width: 100%; }

.web1, .web2, .web3, .web4, .web5, .web6, .web7, .web8 {
  position: absolute;
  width: 347px;
  height: 172px;
  top: 331px;
  left: 426px;
  z-index: -5; }

.sky {
  width: 361px;
  height: 330px;
  background-color: #00bfff;
  position: absolute;
  top: 25px;
  left: 24px;
  z-index: -5; }

.border {
  width: 361px;
  height: 320px;
  border: 10px solid #ffffff;
  position: absolute;
  top: 25px;
  left: 24px;
  z-index: 200; }

.cloud1 {
  position: absolute;
  top: 200px;
  left: -50px;
  z-index: -5; }
  .cloud1 img {
    width: 20%; }

.cloud2 {
  position: absolute;
  top: 140px;
  left: 385px;
  z-index: -5; }
  .cloud2 img {
    width: 40%; }

.cloud3 {
  position: absolute;
  top: 170px;
  left: -50px;
  z-index: -5; }
  .cloud3 img {
    width: 25%; }

.cloud4 {
  position: absolute;
  top: 190px;
  left: 385px;
  z-index: -5; }
  .cloud4 img {
    width: 30%; }

.cloud5 {
  position: absolute;
  top: 120px;
  left: -50px;
  z-index: -5; }
  .cloud5 img {
    width: 35%; }

.sun {
  position: absolute;
  top: 350px;
  left: 60px;
  z-index: -5; }
  .sun img {
    width: 100%; }

.ballon {
  position: absolute;
  top: -90px;
  left: 70px;
  z-index: -5; }
  .ballon img {
    width: 100%; }

.bird {
  position: absolute;
  top: 100px;
  left: 870px;
  z-index: 200; }
  .bird img {
    width: 100%; }

.eyes {
  position: absolute;
  top: 127px;
  left: 965px;
  z-index: 250; }
  .eyes img {
    width: 100%; }

body {
  padding: 30px; }

.travelWrapper {
  max-width: 800px;
  margin: 30px auto;
  text-align: center; }

a#myAdLink {
  display: inline-block;
  background-color: #2480d6;
  opacity: 0; }

#myAd {
  width: 650px;
  height: 200px;
  position: relative;
  overflow: hidden; }

#myAd_txt1 span {
  display: inline-block;
  position: relative; }

.myAd_img {
  position: absolute;
  background: url(../images/graphics.png) no-repeat 0px 0px; }

#myAd_clouds {
  width: inherit;
  height: inherit;
  top: 0px;
  left: 0px;
  background-repeat: repeat-x; }

#myAd_photo {
  width: inherit;
  height: 143px;
  background-position: 0px -325px;
  bottom: 0px;
  left: 0px; }

#myAd_txt1, #myAd_txt2 {
  position: absolute;
  width: inherit;
  text-align: center;
  color: #fff;
  font-size: 3em;
  top: 0;
  left: 0;
  text-transform: uppercase;
  text-shadow: 0px 3px 3px rgba(0, 0, 102, 0.5); }

#myAd_marker {
  width: 60px;
  height: 95px;
  background-position: -243px -230px;
  top: 90px;
  left: 290px; }

#myAd_shadow {
  width: 35px;
  height: 16px;
  background-position: -311px -236px;
  top: 175px;
  left: 306px; }

#myAd_txt3 {
  width: 510px;
  height: 28px;
  background-position: -2px -202px;
  top: 58px;
  left: 73px; }

#myAd_surfboard {
  width: 237px;
  height: 62px;
  background-position: -2px -233px;
  top: 110px;
  left: 390px; }

/*# sourceMappingURL=styles.css.map */
