
.wrapper{
    width: 100%;
    background-color: #000000;
    z-index: 10;
}

.container1{
    overflow: hidden;
    max-width: 1200px;
    margin: 15px auto 20px auto;
    padding: 0;
    z-index: 1000;
}


.dayNight_master{
    margin-top: 0px;
    position: relative;
    z-index: 100;
    width: 100%;
}

.web1, .web2, .web3, .web4, .web5, .web6, .web7, .web8{
    position: absolute;
    width: 347px;
    height: 172px;
    top: 331px;
    left: 426px;
    z-index: -5;
}

.sky{
    width: 361px;
    height: 330px;
    background-color: #00bfff;
    position: absolute;
    top: 25px;
    left: 24px;
    z-index: -5;
}

.border{
    width: 361px;
    height: 320px;
    border: 10px solid #ffffff;
    position: absolute;
    top: 25px;
    left: 24px;
    z-index: 200;
}



.cloud1{
    position: absolute;
    top: 200px;
    left: -50px;
    z-index: -5;

    img{
    width: 20%;
    }
}

.cloud2{
    position: absolute;
    top: 140px;
    left: 385px;
    z-index: -5;

    img{
    width: 40%;
    }
}

.cloud3{
    position: absolute;
    top: 170px;
    left: -50px;
    z-index: -5;

    img{
    width: 25%;
    }
}

.cloud4{
    position: absolute;
    top: 190px;
    left: 385px;
    z-index: -5;

    img{
    width: 30%;
    }
}

.cloud5{
    position: absolute;
    top: 120px;
    left: -50px;
    z-index: -5;

    img{
    width: 35%;
    }
}

.sun{
    position: absolute;
    top: 350px;
    left: 60px;
    z-index: -5;

    img{
    width: 100%;
    }
}

.ballon{
    position: absolute;
    top: -90px;
    left: 70px;
    z-index: -5;

    img{
    width: 100%;
    }
}

.bird{
    position: absolute;
    top: 100px;
    left: 870px;
    z-index: 200;

    img{
    width: 100%;
    }
}

.eyes{
    position: absolute;
    top: 127px;
    left: 965px;
    z-index: 250;

    img{
    width: 100%;
    }
}