.skills{
    margin-bottom: 20px;
}

li.software{
    margin-bottom: 10px;
    padding: 7px 0px;
}

li{
    list-style-type: none;
}

#html{
    background-color: antiquewhite;
}

#css{
    background-color: darksalmon;
}

#js{
    background-color: darkseagreen;
}

#responsive{
    background-color: deepskyblue;
}

#cross{
    background-color: gainsboro;
}

#git{
    background-color: lightgoldenrodyellow;
}

#node{
    background-color: lavender;
}

#bootstrap{
    background-color: mediumturquoise;
}

#animation{
    background-color: lightpink;
}

#wordpress{
    background-color: tan;
}