.animatecc{
    color: white;
    padding-top: 20px;
    font-family: 'Raleway', sans-serif;

    h1{
        font-size: 1.7em;
        font-weight: 600;
        text-transform: uppercase;
        color: $primary-colour;
    }

    p{
        font-size: 1.15em;
        line-height: 1.5em;
    }
}

.food{
    padding: 10px;
}

.food1{
    padding: 0px;
}

.food2{
    padding-top: 25px;
}

